*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: black;
}

header {
    position: relative;
    height: 820px;   /* 这是关键！给 absolute 定位基准 */        /* 你自己调 */
}

#bg-video{
    max-width:100%;
    z-index: -1;
    position: absolute;
}


h1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 100px;
    font-size: 50px;
}

button.clickhere{
    position: absolute;
    border-radius: 12px;
    padding: 10px 10px;
    top:700px;
    left: 50%;
    transform: translateX(-50%);
    background-color: aliceblue;
}

.searchbar{
    width: 75%;;
    display: grid;
    grid-template-columns: 1fr auto; 
    justify-self: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

.searchbar img{
    width: 20px;
    height: 50px;
}

.content_card{
    width: 700px;
    height: 400px;
    border: 1px solid white;
    border-radius: 12px;
    box-shadow: 2px 2px 5px grey;
    margin-top: 20px;
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
}

.card_text{
    color: white;
    padding: 10px;
}

.card_img{
    width: 500px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    object-fit: cover;
}

