*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: black;
}

main{
    background: linear-gradient(to bottom, black, white);
}

header {
    position: relative;
    height: 820px;  
}



#bg-video{
    max-width:100%;
    z-index: -1;
    position: absolute;
}


h1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 100px;
    font-size: 50px;
}

button.clickhere{
    position: absolute;
    border-radius: 12px;
    padding: 10px 10px;
    top:700px;
    left: 50%;
    transform: translateX(-50%);
    background-color: aliceblue;
}

button.clickhere a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.searchbar{
    width: 75%;;
    display: grid;
    grid-template-columns: 1fr auto; 
    justify-self: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

.searchbar img{
    width: 20px;
    height: 50px;
}

.logo{
    justify-self: center;
    margin-bottom: 150px;
}

.logo img{
    width: 250px;
    height: auto;
    top: 20px;
    left: 20px;
    z-index: 1;

}

.content_card1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content_card1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content_card1 .card_img1{
    width: 50%;
}

.content_card1 img{
    width: 100%;
    border-radius: 20px;
}

.content_card1 .card_text1{
    text-align: center;
    margin-top: 10px;
}

.content_card1 .card_text1{
    width: 50%;
    padding: 20px;
    color: white;
}



.content_card2{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.content_card2:hover .card_img2{
    transform: translateX(-300px);
}



.card_img2{
    transition: transform 0.3s ease;
    border-radius: 20px;
}

.content_card2 .card_text2{
    position: absolute;
    text-align: center;
    color: white;
    font-size: 15px;
    width: 500px;
    transform: translateY(-50%);
    margin-left: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-weight: bold;
}

.content_card2 img{
    width: 400px;
}

.content_card2:hover .card_text2{
    opacity: 1;
    transform: translateX(+300px);
}







footer{
    background-color: whitesmoke;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 300px;
    padding-left: 30px;
    padding-right: 30px;
}

footer img{
    width:25px;
    height: auto;
}

.contact_info p{
    display: flex;          
    align-items: center;
    gap: 5px;
}