@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cinzel:wght@400..900&family=Dosis:wght@200..800&display=swap');

:root{
    --primary-font: "Amatic SC", sans-serif;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

button img{
    width: 20px;
    height: 20px;
}

#bgm_button{
    background-color: whitesmoke;
    border: none;
    position: absolute;
    top: 0px;
}


body{
    background-color: black;
}

main{
    background: linear-gradient(to bottom, black, white);
}

header {
    position: relative;
    height: 820px;  
}



#bg-video{
    max-width:100%;
    z-index: -1;
    position: absolute;
}


h1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 100px;
    font-size: 50px;
}

button.clickhere{
    position: absolute;
    border-radius: 12px;
    padding: 10px 10px;
    top:700px;
    left: 50%;
    transform: translateX(-50%);
    background-color: aliceblue;
}

button.clickhere a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.searchbar{
    width: 75%;;
    display: grid;
    grid-template-columns: 1fr auto; 
    justify-self: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

.searchbar input{
    border: none;
    border-radius: 12px 0 0 12px;
}
.searchbar button{
    border: none;
    border-radius: 0 12px 12px 0;
}

.searchbar img{
    width: 20px;
    height: 50px;
}

.logo{
    justify-self: center;
    margin-bottom: 150px;
}

.logo img{
    width: 250px;
    height: auto;
    top: 20px;
    left: 20px;
    z-index: 1;

}

.content_card1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content_card1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content_card1 .card_img1{
    width: 50%;
}

.content_card1 img{
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.content_card1 .card_text1{
    text-align: center;
    margin-top: 10px;
}

.content_card1 .card_text1{
    width: 50%;
    padding: 20px;
    color: white;
}



.content_card2{
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.content_card2:hover .card_img2{
    transform: translateX(-300px);
}



.card_img2{
    transition: transform 0.3s ease;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.content_card2 .card_text2{
    position: absolute;
    text-align: center;
    color: white;
    font-size: 15px;
    width: 400px;
    margin-left: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-weight: bold;
}

.content_card2 img{
    width: 400px;
}



.content_card2:hover .card_text2{
    opacity: 1;
    transform: translateX(+300px);
}

.content_card3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-items: center;
    margin-top: 500px;
    position: relative;
}

.content_card3 img{
    width: 400px;
    height: 600px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.396);
    border-radius: 20px;

}

.content_card3 p{
    width:300px;
    text-align: center;
    opacity: 0;
    position: absolute;
    color: rgba(55, 55, 55, 0.527);
}

.content_card3 .s_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}


.content_card3 img:hover{
    transform: scale(1.05) translateY(-50px);
    transition: transform 0.3s ease;
}

.content_card3 img:hover +p{
    opacity: 1;
    transition: opacity 0.3s ease;
    position: relative;
}





footer{
    background-color: rgb(99, 99, 99);
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
    padding-left: 30px;
    padding-right: 30px;
}

footer img{
    width:25px;
    height: auto;
}

.contact_info p{
    display: flex;          
    align-items: center;
    gap: 5px;
}

@media (max-width: 768px){
    .content_card3{
        grid-template-columns: 1fr;
    }

    .content_card3 p{
        position: relative;
        opacity: 1;
        margin-top: 20px;
    }

    .content_card2 .card_text2{
        position: relative;
        transform: translateX(0);
        opacity: 1;
        margin-top: 20px;
    }

    .content_card2:hover .card_img2{
        transform: translateX(0);
    }
}