@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cinzel:wght@400..900&family=Dosis:wght@200..800&display=swap');

:root{
    --primary-font: "Amatic SC", sans-serif;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

button img{
    width: 20px;
    height: 20px;
}

#bgm_button{
    background-color: whitesmoke;
    border: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
}

.logo{
    display: flex;
    justify-self: center;
}

body{
    background-color: black;
}

main{
    background: linear-gradient(to bottom, black, white);
}

header {
    display: grid;
    place-items: center;
    height: 820px;
    position: relative;
    overflow: hidden; 
}



#bg-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


h1{
    z-index: 2;
    color:white;
    font-size: 80px;
    font-size: clamp(30px, 8vw, 80px);
    
}

.clickhere{
    z-index: 2;
    margin-top: 300px; 
    padding: 10px;
    border-radius: 10px;
}

button.clickhere a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.searchbar{
    width: 75%;;
    display: grid;
    grid-template-columns: 1fr auto; 
    justify-self: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

.searchbar input{
    border: none;
    border-radius: 12px 0 0 12px;
}
.searchbar button{
    border: none;
    border-radius: 0 12px 12px 0;
}

.searchbar img{
    width: 20px;
    height: 50px;
}

.logo{
    justify-self: center;
    margin-bottom: 150px;
}

.logo img{
    width: 250px;
    height: auto;
    top: 20px;
    left: 20px;
    z-index: 1;

}

.content_card1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 200px;
}


.content_card1 .card_img1{
    width: 50%;
}

.content_card1 img{
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.content_card1 .card_text1{
    text-align: center;
    margin-top: 10px;
}

.content_card1 .card_text1{
    width: 50%;
    padding: 20px;
    color: white;
}



.content_card2{
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.content_card2:hover .card_img2{
    transform: translateX(-300px);
}



.card_img2{
    transition: transform 0.3s ease;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.content_card2 .card_text2{
    position: absolute;
    text-align: center;
    color: white;
    font-size: 15px;
    width: 400px;
    margin-left: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-weight: bold;
}

.content_card2 img{
    width: 400px;
}



.content_card2:hover .card_text2{
    opacity: 1;
    transform: translateX(+300px);
}

.content_card3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-items: center;
    margin-top: 500px;
    position: relative;
}

.content_card3 img{
    width: 400px;
    height: 600px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.396);
    border-radius: 20px;

}

.content_card3 p{
    width:300px;
    text-align: center;
    opacity: 0;
    position: absolute;
    color: rgba(55, 55, 55, 0.527);
}

.content_card3 .s_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}


.content_card3 img:hover{
    transform: scale(1.05) translateY(-50px);
    transition: transform 0.3s ease;
}

.content_card3 img:hover +p{
    opacity: 1;
    transition: opacity 0.3s ease;
    position: relative;
}





footer{
    background-color: rgb(99, 99, 99);
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
    padding-left: 30px;
    padding-right: 30px;
}

footer img{
    width:25px;
    height: auto;
}

.contact_info p{
    display: flex;          
    align-items: center;
    gap: 5px;
}

@media (max-width: 768px){
    .content_card3{
        grid-template-columns: 1fr;
    }

    .content_card3 p{
        position: relative;
        opacity: 1;
        margin-top: 20px;
    }

    .content_card2{
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    }


    .content_card2 .card_text2{
        position: relative;
        transform: translateX(0);
        opacity: 1;
        margin-top: 20px;
    }

    .content_card2:hover .card_img2{
        transform: translateX(0);
    }

    .content_card2:hover .card_img2{
    transform: translateY(-50px);
    }
   .content_card2:hover .card_text2{
    opacity: 1;
    transform: translateY(-20px);
    }

}


#payingwindow{
    border: rgba(128, 128, 128, 0.435) 2px solid;
    border-radius: 20px;
    background-color: white;
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 25px;
}

#payingwindow input{
    border: solid rgba(128, 128, 128, 0.435) 2px;
    border-radius: 10px;
    width: 250px;
    height: 40px
}


.ticketh{
    height: 200px;
    display: flex;
    justify-content: center;
}

#tickets main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
}

#tickets footer{
    margin-top: 0px;
}


label{
    display: flex;
    flex-direction: column;
}

.hide{
    display: none;
}

select{
    display: block;
    height: 40px;
    border-radius: 10px;
}
.submit_button{
    height: 30px;
    border: grey 2px;
    background-color: grey;
    border-radius: 10px;
}

.group #month{
    width: 20%;
}

.group #year{
    width: 20%;
}

.fixed-back {
    position: fixed;      
    top: 20px;           
    left: 20px;            
    padding: 10px 15px;    
    background-color: #e2e2e2; 
    color: black;        
    text-decoration: none;
    border-radius: 5px;   
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
    z-index: 9999; 
}
.fixed-back:hover {
    transform: scale(1.05); /* 悬停轻微放大 */
}