 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }


main{
    border:solid,0px;
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    grid-template-rows: 1fr 5fr 1fr 1fr;
    justify-self: center;
    width: 600px;
    height: 350px;
}

#f1{
    display: grid;
    grid-column: 1/3;
    grid-row: 1/3;
    background-color: rgb(234, 233, 233);
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 10px;
    border: solid transparent 1px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


#front{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.cardnumber{
    display: grid;
    grid-column: 1/3;
    grid-row: 2/3;
}

.cardholder{
    display: grid;
    grid-template-columns: 1/2;
    grid-template-rows: 3/4;
}

.date{
    display: grid;
    grid-column: 2/3;
    grid-row: 3/4;
}
.group{
    display: flex;
    gap:10px;
}
#f2{
    background-color: rgba(178, 176, 176, 0.928);
    padding: 10px;
    grid-column: 2/4;
    grid-row: 2/4;
}

.back{
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    grid-template-columns: 3fr 1fr;
    height: 100%;
    width: 100%;
}

.cvvinfor{
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: end;  
}


.blackline{
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: black;
    border: solid 0px;
    height: 30px;
    width: 100%;
}




input {
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 5px;
  outline: none;
  width: 100%;         /* 宽度占满父容器 */
}


input:focus {
  border-color: #666;
}
button{
  grid-column: 3/4;
  grid-row: 4/5;
  padding: 10px 15px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}